.git
.github
.idea
.venv
**/__pycache__/
*.py[cod]
*.log
*.lock
django.log
stats.log
file.lock
/media
/static
/src/SECRET_KEY
/src/core/settings_local.py
/src/core/settings_production.py
/src/core/settings_tests.py
.pytest_cache
htmlcov
.coverage
*.md
!README.md
